<img src="/logo.png" width="60" />

<div>
  <h1>What if I tell you everything here was built with <strong class="gradient-text">Angular 18</strong>?</h1>
  <p>Here is your WAGMI but for Angular 18 💊</p>

  <ul>
    <a href="https://github.com/thanhhoa214" target="_blank"> <lucide-icon [img]="icons.Github" size="24" /> Github </a>
    <a href="https://t.me/thanhhoa214" target="_blank"> <lucide-icon [img]="icons.Send" size="24" /> Telegram </a>
  </ul>
</div>

<footer>
  <app-connect-button />
  <p>And explore all supported features</p>
  <lucide-icon [img]="icons.ArrowDown" />
</footer>
